<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="com.azemon.santanderclone" platformBuildVersionCode="36" platformBuildVersionName="16">
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
        </intent>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START"/>
        </intent>
        <package android:name="com.whatsapp"/>
        <package android:name="com.samsung.android.spay"/>
        <intent>
            <action android:name="androidx.camera.extensions.action.VENDOR_ACTION"/>
        </intent>
        <package android:name="com.google.android.apps.maps"/>
    </queries>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.azemon.santanderclone.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.azemon.santanderclone.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-feature android:name="android.hardware.nfc.hce" android:required="false"/>
    <uses-permission android:name="android.permission.NFC"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="true" android:icon="@mipmap/ic_launcher" android:label="Banco Clone" android:name="com.santander.one.pt.app.AndroidApplication" android:pageSizeCompat="disabled" android:requestLegacyExternalStorage="true" android:supportsRtl="true" android:theme="@style/AppTheme.Launcher" android:usesCleartextTraffic="true">
        <property android:name="android.window.PROPERTY_COMPAT_ALLOW_RESTRICTED_RESIZABILITY" android:value="true"/>
        <meta-data android:name="google_analytics_automatic_screen_reporting_enabled" android:value="false"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCAE8yaLwFCl4gipLSpvISTp-9WY7DHAlo"/>
        <meta-data android:name="google_analytics_default_allow_analytics_storage" android:value="true"/>
        <meta-data android:name="google_analytics_default_allow_ad_storage" android:value="true"/>
        <meta-data android:name="google_analytics_default_allow_ad_user_data" android:value="true"/>
        <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="true"/>
        <provider android:authorities="com.azemon.santanderclone.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths"/>
        </provider>
        <activity android:configChanges="orientation|screenSize" android:exported="true" android:launchMode="singleTask" android:name="com.santander.one.pt.app2app_wallet.ui.activity.App2AppWalletActivity" android:taskAffinity=".a2a" android:theme="@style/AppTheme.Launcher" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.azemon.santanderclone.a2a"/>
                <action android:name="com.azemon.santanderclone.ACTIVATE_TOKEN_APP_TO_APP_WALLET"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.azemon.santanderclone.pre.a2a"/>
                <action android:name="com.azemon.santanderclone.pre.ACTIVATE_TOKEN_APP_TO_APP_WALLET"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:exported="true" android:launchMode="singleTask" android:name="com.santander.one.pt.app2app_login.ui.activity.App2AppLoginActivity" android:theme="@style/AppTheme.Private">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="openbanking.santander.pt" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:exported="true" android:launchMode="singleTask" android:name="com.santander.one.pt.pushnotification.ui.feature.PushNotificationActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/AppTheme.Launcher">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:host="oa.bsan.pt"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:host="oa.bsan.pt"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:host="oa.bsan.pt"/>
            </intent-filter>
        </activity>
        <service android:exported="false" android:name="com.santander.one.pt.pushnotification.ui.feature.firebase.service.FirebaseNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@mipmap/ic_launcher"/>
        <meta-data android:name="spay_sdk_api_level" android:value="2.9"/>
        <meta-data android:name="debug_mode" android:value="N"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:configChanges="locale|keyboardHidden" android:exported="true" android:launchMode="singleTop" android:name="es.bancosantander.apps.mobile.android.activities.PublicActivity" android:theme="@style/AppTheme.Launcher" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|keyboardHidden" android:exported="false" android:launchMode="singleTop" android:name="es.bancosantander.apps.mobile.android.activities.PrivateActivity" android:permission="" android:theme="@style/AppTheme.Private" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:exported="true" android:launchMode="singleTask" android:name="es.bancosantander.apps.mobile.android.activities.DeeplinkActivity" android:permission="" android:screenOrientation="portrait" android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/deeplink_primary_scheme"/>
                <data android:scheme="@string/deeplink_secondary_scheme"/>
                <data android:scheme="@string/deeplink_tertiary_scheme"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:launchMode="singleTop" android:name="es.bancosantander.apps.mobile.android.activities.PushDialogActivity" android:theme="@style/NoTitleDialog"/>
        <receiver android:enabled="true" android:exported="false" android:name="es.bancosantander.apps.mobile.android.broadcast_receivers.SmsBroadcastReceiver" android:permission="android.intent.action.">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="es.bancosantander.apps.mobile.android.broadcast_receivers.PushBroadcastReceiver" android:permission="android.intent.action."/>
        <activity android:exported="false" android:name="com.santander.one.session.ui.activity.RestartPrivateActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.santander.one.imagepicker.crop.activity.CropImageActivity"/>
        <service android:enabled="false" android:exported="false" android:name="com.google.android.gms.metadata.ModuleDependencies">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES"/>
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value=""/>
        </service>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:name="com.santander.one.branchlocator.BranchLocatorHomeActivity" android:screenOrientation="portrait" android:theme="@style/BranchLocatorTheme"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:name="com.santander.one.branchlocator.filters.BLFiltersActivity" android:screenOrientation="portrait" android:theme="@style/BranchLocatorTheme"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:name="com.santander.one.branchlocator.BLMapsActivity" android:screenOrientation="portrait" android:theme="@style/BranchLocatorTheme"/>
        <receiver android:exported="false" android:name="com.santander.one.branchlocator.BLGpsCheck">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.santander.one.branchlocator.BLConnectivityBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.qualtrics.digital.QualtricsSurveyActivity"/>
        <activity android:name="com.qualtrics.digital.QualtricsPopOverActivity" android:theme="@style/Qualtrics.Theme.Transparent"/>
        <activity android:label="@string/mcsdk_notification_activity_label" android:launchMode="singleInstance" android:name="com.salesforce.marketingcloud.notifications.NotificationOpenActivity" android:taskAffinity="com.azemon.santanderclone.NotificationOpenActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:label="@string/mcsdk_iam_activity_label" android:name="com.salesforce.marketingcloud.messages.iam.IamModalActivity" android:theme="@style/McSdk.Modal"/>
        <activity android:label="@string/mcsdk_iam_activity_label" android:name="com.salesforce.marketingcloud.messages.iam.IamBannerActivity" android:theme="@style/McSdk.Banner"/>
        <activity android:configChanges="orientation|screenSize" android:label="@string/mcsdk_iam_activity_label" android:name="com.salesforce.marketingcloud.messages.iam.IamFullscreenActivity" android:theme="@style/McSdk.Fullscreen"/>
        <activity android:configChanges="orientation|screenSize" android:label="@string/mcsdk_iam_activity_label" android:name="com.salesforce.marketingcloud.messages.iam.IamFullImageFillActivity" android:theme="@style/McSdk.Fullscreen"/>
        <receiver android:exported="false" android:name="com.salesforce.marketingcloud.location.LocationReceiver"/>
        <receiver android:exported="false" android:name="com.salesforce.marketingcloud.notifications.PushNotificationActionHandler">
            <intent-filter>
                <action android:name="com.salesforce.marketingcloud.notifications.CAROUSEL_NEXT"/>
                <action android:name="com.salesforce.marketingcloud.notifications.CAROUSEL_PREVIOUS"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.salesforce.marketingcloud.MCService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="false" android:name="com.salesforce.marketingcloud.NotificationOpenedService"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.salesforce.marketingcloud.MCReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="com.azemon.santanderclone.com.salesforce.marketingcloud.WAKE_FOR_ALARM"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.salesforce.marketingcloud.messages.push.MCFirebaseMessagingService">
            <intent-filter android:priority="-1">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.azemon.santanderclone.com.salesforce.marketingcloud.initprovider" android:exported="false" android:enabled="false" android:name="com.salesforce.marketingcloud.MCInitContentProvider"/>
        <service android:foregroundServiceType="location" android:name="org.altbeacon.beacon.service.BeaconService"/>
        <activity android:name="com.qualtrics.digital.QualtricsEmbeddedFeedbackActivity" android:theme="@style/Qualtrics.Theme.Transparent"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.qualtrics.digital.QualtricsNotificationManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="androidx.camera.extensions.impl" android:required="false"/>
        <service android:enabled="false" android:exported="false" android:name="androidx.camera.core.impl.MetadataHolderService">
            <meta-data android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER" android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <activity android:exported="false" android:label="@string/places_autocomplete_label" android:name="com.google.android.libraries.places.widget.AutocompleteActivity" android:theme="@style/PlacesAutocompleteOverlay" android:windowSoftInputMode="adjustResize"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.barcode.internal.BarcodeRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="com.azemon.santanderclone.mlkitinitprovider" android:exported="false" android:initOrder="99" android:name="com.google.mlkit.common.internal.MlKitInitProvider"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.ktx.FirebaseAnalyticsLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.ktx.FirebaseMessagingLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED" android:value="true"/>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.azemon.santanderclone.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <provider android:authorities="com.azemon.santanderclone.tealiuminitprovider" android:exported="false" android:initOrder="100" android:name="com.tealium.core.internal.TealiumInitProvider">
            <meta-data android:name="com.tealium.core.internal.TealiumInitProvider.TIMEOUT_SECONDS" android:value="10"/>
        </provider>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <provider android:authorities="com.azemon.santanderclone.com.salesforce.marketingcloud.sfmcsdk.initprovider" android:exported="false" android:enabled="false" android:name="com.salesforce.marketingcloud.sfmcsdk.SFMCSdkInitContentProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.salesforce.marketingcloud.sfmcsdk.SFMCSdkReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.salesforce.marketingcloud.sfmcsdk.SFMCSdkJobIntentService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:exported="true" android:name="androidx.compose.ui.tooling.PreviewActivity"/>
        <uses-library android:name="android.ext.adservices" android:required="false"/>
        <provider android:authorities="com.azemon.santanderclone.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="okhttp3.internal.platform.PlatformInitializer" android:value="androidx.startup"/>
        </provider>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <service android:exported="true" android:name="sibs.hcesdk.implementlib.contactless.CardService" android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
                <action android:name="android.nfc.cardemulation.action.ACTION_CHANGE_DEFAULT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service" android:resource="@xml/apduservicelib"/>
        </service>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <activity android:exported="false" android:name="com.pairip.licensecheck.LicenseActivity"/>
        <provider android:authorities="com.azemon.santanderclone.com.pairip.licensecheck.LicenseContentProvider" android:exported="false" android:name="com.pairip.licensecheck.LicenseContentProvider"/>        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>    </application>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
</manifest>
